body {
  font-family: 'Lato', arial, sans-serif;
  letter-spacing: 0.03em;
  color: #363c47;
  background-color: #dfe6e9;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.gray {
  color: gray;
}

.green {
  color: green;
}

.red {
  color: red;
}

.td-portfolio {
  width: 100px;
  text-align: left;
  padding: 5px;
}

.td-transaction {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

.border {
  border-bottom: 1px solid #d3d3d3;
}

#transactions-table {
  margin: 30px 0 0 90px;
}
.heading {
  font-size: 10pt;
}

.tickerBox {
  /* display: flex;
  flex-direction: column;
  padding: 3px;
  margin: 3px; */
  text-align: left;
}

.companyName {
  font-size: 8pt;
  padding: 0px;
  margin: 0px;
  color: gray;
}

.bold {
  font-weight: bold;
}

input {
  height: 30px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.9em;
  padding-left: 10px;
}

label {
  font-size: 10pt;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
}

button {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  margin-top: 15px;
  border: 1px solid #0000ff;
  color: #0000ff;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #f1f2f6;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f6;
  padding: 20px;
  border-radius: 5px;
}

#portfolio-content {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

#portfolio-table {
  /* margin: 15px 30px 0 0; */
  margin-left: 20px;
}

.trade-form-component {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
#trade-form-toggle {
  display: flex;
  flex-direction: row;
}
.portfolio-title {
  font-size: 12pt;
  color: #9a9da3;
  padding-bottom: 5px;
  font-weight: bold;
}

.portfolio-amount {
  color: #5e626b;
  font-size: 16pt;
  font-weight: bold;
}

.transaction {
  border-bottom: 1px solid #d3d3d3;
  height: 30px;
  padding: 2px;
  font-weight: bold;
}

#transaction-title {
  font-size: 12pt;
}

#app-title {
  margin-left: 88px;
  font-size: 12pt;
  padding: 7px;
  letter-spacing: 0.2em;
  border: 1px solid #363c47;
}

.td-long {
  width: 120px;
  text-align: left;
  padding: 5px;
}

.toggle {
  padding: 10px 30px 10px 30px;
  border-radius: 5px 5px 0 0;
}

.active-toggle {
  background-color: #f1f2f6;
}

.not-active {
  background-color: white;
}

.portfolio-heading {
  margin: 50px 0 30px 40px;
  display: flex;
  flex-direction: column;
}

.trading-heading {
  font-weight: bold;
}

.trade-form-component {
  display: flex;
  flex-direction: column;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  /* padding-left: 2%;
  padding-right: 2%; */
  margin: 0;
  width: 100%;
}

#nav-bar {
  width: 100%;
  background-color: white;
  padding: 2px;
}
.nav-links {
  display: flex;
  margin-right: 80px;
}

.loading {
  text-align: center;
  margin-top: 150px;
}

#table-component {
  display: flex;
  flex-direction: column;
}

#portfolio-page {
  display: flex;
  justify-content: space-around;
}

.trading-heading {
  display: flex;
  flex-direction: column;
  margin: 50px 40px 30px 0;
}

#stock-preview {
  background-color: #f9f9fb;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.purchase-preview {
  padding: 5px;
  margin: 0;
}

#auth-form {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#auth-form form {
  padding: 15px 15px 15px 15px;
}

.auth-title {
  text-align: center;
  padding-top: 0;
}

.page-header {
  margin: 35px 20px 35px 90px;
  font-size: 25pt;
  font-weight: 100;
}

hr {
  width: 87%;
}

.error {
  color: red;
  font-size: 8pt;
}

.error-border {
  border: 1px solid red;
}

.no-portfolio {
  margin-top: 45px;
}

.no-transactions {
  text-align: center;
  margin-top: 85px;
}
